<configuration scan="true" scanPeriod="30 seconds">
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%p %d [%t] [%c] %-15.15M %m%n</pattern>
        </encoder>
    </appender>
    <!-- HikariCP 로깅 설정 -->
    <logger name="com.zaxxer.hikari.pool.PoolBase" level="INFO"/>
    <logger name="com.zaxxer.hikari.pool.HikariPool" level="INFO"/>
    <logger name="com.zaxxer.hikari.HikariDataSource" level="INFO"/>
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>