<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.blockfilesextension">
    <select id="selectExtensionMasterList" parameterType="java.util.HashMap" resultType="com.example.blockfilesextension.model.Extension">
        SELECT
            *
        FROM
            BLOCK_FILE_EXTENSION_MASTER
    </select>

</mapper>